@use "sass:map";

/* ///////////////// RESET ///////////////// */
// Reset from https://piccalil.li/blog/a-modern-css-reset/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ///////////////// VARIABLES ///////////////// */
$clr-body-text: hsla(0, 0%, 0%, 0.7);
$clr-primary-purple: hsl(249, 100%, 70%);
$clr-primary-blue: hsl(202, 100%, 69%);
$gradient-primary: linear-gradient(to right, $clr-primary-purple, $clr-primary-blue);
$max-width: 1110px;
$breakpoints: (
  "medium": 768px,
  "large": 1110px,
);

/* ///////////////// MIXINS ///////////////// */
@mixin bp-up($bp) {
  @if map.has-key($breakpoints, $bp) {
    @media screen and (min-width: map.get($breakpoints, $bp)) {
      @content;
    }
  }

  @else {
    @media screen and (min-width: $bp) {
      @content;
    }
  }
}

@mixin on-event {

  &:hover,
  &:focus,
  &:active {
    @content;
  }
}

/* ///////////////// GlOBAL STYLES ///////////////// */
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: hsl(0, 0%, 0%, 0.9);
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include bp-up("medium") {
    font-size: 16px;
  }
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* ///////////////// UTILITY ///////////////// */
.highlight {
  font-weight: 500;
  background: $gradient-primary;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes slide-up {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-up {
  animation: slide-up 800ms ease, fade-in 1500ms ease;
  animation-fill-mode: both;
  visibility: visible !important;
}