@use "./base" as *;

.main {
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

.container {
  width: min(100%, $max-width);
  margin-inline: auto;
  padding-inline: 16px;

  @include bp-up("medium") {
    padding-inline: 24px;
  }
}

/* ///////////////// NAVIGATION ///////////////// */
.primary-nav {
  position: absolute;
  top: 0;
  inset-inline: 0;
  z-index: 999999;
  padding-block: 16px;
  transition: background-color 180ms ease;

  @include bp-up("medium") {
    top: 8px;
  }

  @include bp-up("large") {
    top: 16px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    user-select: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.2em;
    background: $gradient-primary;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include bp-up("medium") {
      font-size: 18px;
    }
  }

  &__links {
    display: flex;
    column-gap: 20px;

    @include bp-up("medium") {
      column-gap: 32px;
    }

    a {
      transition: color 200ms ease;

      @include on-event {
        color: $clr-primary-purple;
      }
    }

    .active {
      background: $gradient-primary;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }
  }
}

.primary-nav.scrolled {
  position: fixed;
  top: 0;
  background-color: hsl(0, 0%, 100%);
}

/* ///////////////// ABOUT SECTION ///////////////// */

.about {
  display: grid;
  place-items: center;
  min-height: 100vh;
  height: 100%;
  text-align: center;

  &__inner {
    padding-top: 90px;
    padding-bottom: 48px;

    @include bp-up("medium") {
      padding-block: 140px;
    }
  }

  &__photo {
    margin-inline: auto;
  }

  &__content {
    max-width: 600px;
    margin-top: 32px;
    margin-inline: auto;
  }

  &__heading {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.4;

    @include bp-up("medium") {
      font-size: 36px;
    }

    span {
      font-size: 16px;

      @include bp-up("medium") {
        font-size: 22px;
      }
    }

    .highlight {
      font-size: inherit;
      background: $gradient-primary;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__text {
    margin-top: 16px;
    color: hsla(0, 0%, 0%, 0.7);

    @include bp-up("medium") {
      margin-top: 24px;
    }
  }

  &__ctas {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-top: 40px;

    @include bp-up("medium") {
      flex-direction: row;
      column-gap: 32px;

      .cta {
        width: 100%;
      }
    }
  }
}

/* ///////////////// PROJECTS SECTION ///////////////// */

.projects {
  padding-top: 64px;
  padding-bottom: 200px;

  &__heading {
    font-size: 24px;
  }
}

.projects__grid {
  margin-top: 32px;
}

.project {
  &__photo-wrapper {
    border-radius: 15px;
    padding: 0px 0px 4px 0px;
    background: $gradient-primary;
    box-shadow: 15px 15px 30px -3px adjust-color($clr-primary-purple, $alpha: -0.9);

    .project__photo {
      border-radius: 15px;
    }
  }

  &__title {
    margin-top: 24px;
    font-size: 18px;
  }

  &__description {
    margin-top: 8px;
  }

  &__stack {
    margin-top: 16px;
  }

  &__stack-heading {
    font-weight: 500;
  }

  &__stack-items {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    margin-top: 16px;
    overflow-x: scroll;
  }

  &__stack-item {
    display: flex;
    min-width: fit-content;
    align-items: center;
    column-gap: 8px;
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 12px;
    box-shadow: 2px 2px 80px -3px adjust-color($clr-primary-purple, $alpha: -0.9);
  }

  &__stack-icon {
    width: 24px;
  }

  &__stack-title {
    white-space: nowrap;
  }

  &__ctas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    margin-top: 32px;
  }
}
