/* ///////////////// RESET ///////////////// */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ///////////////// VARIABLES ///////////////// */
/* ///////////////// MIXINS ///////////////// */
/* ///////////////// GlOBAL STYLES ///////////////// */
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: hsla(0, 0%, 0%, 0.9);
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* ///////////////// UTILITY ///////////////// */
.highlight {
  font-weight: 500;
  background: linear-gradient(to right, hsl(249, 100%, 70%), hsl(202, 100%, 69%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main {
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

.container {
  width: min(100%, 1110px);
  margin-inline: auto;
  padding-inline: 16px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-inline: 24px;
  }
}

/* ///////////////// NAVIGATION ///////////////// */
.primary-nav {
  position: absolute;
  top: 0;
  inset-inline: 0;
  z-index: 999999;
  padding-block: 16px;
  transition: background-color 180ms ease;
}
@media screen and (min-width: 768px) {
  .primary-nav {
    top: 8px;
  }
}
@media screen and (min-width: 1110px) {
  .primary-nav {
    top: 16px;
  }
}
.primary-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-nav__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2em;
  background: linear-gradient(to right, hsl(249, 100%, 70%), hsl(202, 100%, 69%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) {
  .primary-nav__logo {
    font-size: 18px;
  }
}
.primary-nav__links {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (min-width: 768px) {
  .primary-nav__links {
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}
.primary-nav__links a {
  transition: color 200ms ease;
}
.primary-nav__links a:hover, .primary-nav__links a:focus, .primary-nav__links a:active {
  color: hsl(249, 100%, 70%);
}
.primary-nav__links .active {
  background: linear-gradient(to right, hsl(249, 100%, 70%), hsl(202, 100%, 69%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.primary-nav.scrolled {
  position: fixed;
  top: 0;
  background-color: hsl(0, 0%, 100%);
}

/* ///////////////// ABOUT SECTION ///////////////// */
.about {
  display: grid;
  place-items: center;
  min-height: 100vh;
  height: 100%;
  text-align: center;
}
.about__inner {
  padding-top: 90px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .about__inner {
    padding-block: 140px;
  }
}
.about__photo {
  margin-inline: auto;
}
.about__content {
  max-width: 600px;
  margin-top: 32px;
  margin-inline: auto;
}
.about__heading {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .about__heading {
    font-size: 36px;
  }
}
.about__heading span {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .about__heading span {
    font-size: 22px;
  }
}
.about__heading .highlight {
  font-size: inherit;
  background: linear-gradient(to right, hsl(249, 100%, 70%), hsl(202, 100%, 69%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about__text {
  margin-top: 16px;
  color: hsla(0, 0%, 0%, 0.7);
}
@media screen and (min-width: 768px) {
  .about__text {
    margin-top: 24px;
  }
}
.about__ctas {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .about__ctas {
    flex-direction: row;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .about__ctas .cta {
    width: 100%;
  }
}

/* ///////////////// PROJECTS SECTION ///////////////// */
.projects {
  padding-top: 64px;
  padding-bottom: 200px;
}
.projects__heading {
  font-size: 24px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .projects__heading {
    font-size: 30px;
  }
}
.projects__grid {
  display: grid;
  row-gap: 64px;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .projects__grid {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 32px;
         column-gap: 32px;
    margin-top: 40px;
  }
}
.projects__more {
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .projects__more {
    max-width: 285px;
    margin-inline: auto;
    margin-top: 64px;
  }
}

.project {
  display: flex;
  flex-direction: column;
}
.project__photo-wrapper {
  border-radius: 15px;
  padding: 0px 0px 4px 0px;
  background: linear-gradient(to right, hsl(249, 100%, 70%), hsl(202, 100%, 69%));
  box-shadow: 0px 15px 30px -3px rgba(125, 102, 255, 0.1);
}
.project__photo-wrapper .project__photo {
  width: 100%;
  height: auto;
  aspect-ratio: 5/3;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 15px;
}
.project__content {
  flex: 1;
}
.project__title {
  margin-top: 24px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .project__title {
    font-size: 20px;
  }
}
.project__description {
  margin-top: 8px;
  color: hsla(0, 0%, 0%, 0.7);
}
@media screen and (min-width: 768px) {
  .project__description {
    margin-top: 12px;
  }
}
.project__stack {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .project__stack {
    margin-top: 18px;
  }
}
.project__stack-heading {
  font-weight: 500;
}
.project__stack-items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}
.project__stack-item {
  display: flex;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: 40px;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 12px;
  box-shadow: 2px 2px 80px -3px rgba(125, 102, 255, 0.1);
}
.project__stack-icon {
  width: 24px;
}
.project__stack-title {
  white-space: nowrap;
}
.project__ctas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-top: 32px;
}

/* ///////////////// CTA BUTTON ///////////////// */
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 15px;
  background: linear-gradient(to right, hsl(249, 100%, 70%), hsl(202, 100%, 69%));
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 5px 20px rgba(124, 103, 255, 0.3);
  font-weight: 500;
  transition: opacity 200ms ease, scale 200ms ease, box-shadow 200ms ease;
}
.cta:visited {
  color: hsl(0, 0%, 100%);
}
.cta:hover, .cta:focus, .cta:active {
  opacity: 0.8;
  scale: 1.02;
  box-shadow: 0px 5px 20px rgba(124, 103, 255, 0.4);
}
.cta--secondary {
  background: none;
  border: 1px solid hsla(0, 0%, 0%, 0.9);
  box-shadow: none;
  color: hsla(0, 0%, 0%, 0.9);
  transition: background-color 200ms ease, border-color 200ms ease, scale 200ms ease, box-shadow 200ms ease;
}
.cta--secondary:visited {
  color: hsla(0, 0%, 0%, 0.9);
}
.cta--secondary:hover, .cta--secondary:focus, .cta--secondary:active {
  opacity: 1;
  scale: 1.02;
  border-color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
  color: hsla(0, 0%, 0%, 0.9);
  box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.4);
}
.cta--small {
  padding: 16px 32px;
}

/* ///////////////// ABOUT PHOTO ///////////////// */
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes grow {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
.anim-photo {
  display: grid;
  place-items: center;
  width: min(100%, 300px);
  height: auto;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .anim-photo {
    width: min(100%, 360px);
  }
}
.anim-photo:hover *,
.anim-photo:hover * > *, .anim-photo:focus *,
.anim-photo:focus * > *, .anim-photo:active *,
.anim-photo:active * > * {
  animation-play-state: paused !important;
}
.anim-photo > * {
  width: 100%;
  height: auto;
  grid-area: 1/1;
}
.anim-photo__icons {
  position: relative;
  z-index: 3;
  height: 100%;
  animation: rotate 70s linear infinite;
}
.anim-photo__icon-wrapper {
  position: absolute;
  width: 10%;
  height: 10%;
  /* Counter rotate */
  animation: rotate 70s linear infinite reverse;
  transition: scale 200ms ease;
}
.anim-photo__icon-wrapper .anim-photo__icon {
  transition: scale 200ms ease;
}
.anim-photo__icon-wrapper .anim-photo__icon-tooltip {
  opacity: 0;
  position: absolute;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  padding: 4px 12px;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 200ms ease;
}
.anim-photo__icon-wrapper .anim-photo__icon-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
@media screen and (min-width: 768px) {
  .anim-photo__icon-wrapper .anim-photo__icon-tooltip {
    font-size: 14px;
    padding: 4px 15px;
  }
}
.anim-photo__icon-wrapper:hover .anim-photo__icon, .anim-photo__icon-wrapper:focus .anim-photo__icon, .anim-photo__icon-wrapper:active .anim-photo__icon {
  transform: scale(1.25);
}
.anim-photo__icon-wrapper:hover .anim-photo__icon-tooltip, .anim-photo__icon-wrapper:focus .anim-photo__icon-tooltip, .anim-photo__icon-wrapper:active .anim-photo__icon-tooltip {
  opacity: 1;
}
.anim-photo__icon-wrapper:nth-of-type(1) {
  top: 0;
  left: 0;
  translate: 100% 100%;
  animation: fadeIn 2s 600ms ease both, rotate 70s linear infinite reverse;
}
.anim-photo__icon-wrapper:nth-of-type(2) {
  top: 0;
  left: 50%;
  translate: -50% -50%;
  animation: fadeIn 2s 800ms ease both, rotate 70s linear infinite reverse;
}
.anim-photo__icon-wrapper:nth-of-type(3) {
  top: 0;
  right: 0;
  translate: -100% 100%;
  animation: fadeIn 2s 1000ms ease both, rotate 70s linear infinite reverse;
}
.anim-photo__icon-wrapper:nth-of-type(4) {
  top: 50%;
  right: 0;
  translate: 50% -50%;
  animation: fadeIn 2s 1200ms ease both, rotate 70s linear infinite reverse;
}
.anim-photo__icon-wrapper:nth-of-type(5) {
  bottom: 0;
  right: 0;
  translate: -100% -100%;
  animation: fadeIn 2s 1400ms ease both, rotate 70s linear infinite reverse;
}
.anim-photo__icon-wrapper:nth-of-type(6) {
  bottom: 0;
  left: 50%;
  translate: -50% 50%;
  animation: fadeIn 2s 1600ms ease both, rotate 70s linear infinite reverse;
}
.anim-photo__icon-wrapper:nth-of-type(7) {
  bottom: 0;
  left: 0;
  translate: 100% -100%;
  animation: fadeIn 2s 1800ms ease both, rotate 70s linear infinite reverse;
}
.anim-photo__icon-wrapper:nth-of-type(8) {
  top: 50%;
  left: 0;
  translate: -50% -50%;
  animation: fadeIn 2s 2000ms ease both, rotate 70s linear infinite reverse;
}
.anim-photo__outer-ring, .anim-photo__inner-ring {
  backface-visibility: hidden;
}
.anim-photo__outer-ring {
  animation: grow 600ms both ease-out, rotate 70s linear infinite;
}
.anim-photo__inner-ring {
  width: 85%;
  animation: grow 600ms 150ms both ease-out, rotate 70s linear infinite reverse;
}
.anim-photo__photo-wrapper {
  width: 70%;
  border-radius: 99999px;
  padding: 2px;
  overflow: hidden;
  background: linear-gradient(to right, hsl(249, 100%, 70%), hsl(202, 100%, 69%));
  z-index: 2;
}
.anim-photo__photo {
  width: 100%;
  height: auto;
  border-radius: 99999px;
}/*# sourceMappingURL=main.css.map */